<div id="wp-browsing-history-url" style="display:none;">/prospective/message/</div>        </div>
        		<footer class="post-footer">
            <div class="detail">

            	<!-- Hide this section in single page  -->
            		<span class="author">
	    <a href="/author/admin/">
	        	    </a>
	</span>
	<span class="author-name">
		<a href="/author/admin/">
			admin		</a>
	</span>
	<span class="divider">/</span>
				
					<span class="screen-reader-text">Posted on</span>
	<span class="posted-on">
		<a href="/2008/11/27/" rel="bookmark">
			<time class="entry-date published" datetime="2008-11-27T12:09:13+00:00">2008年11月27日</time><time class="updated" datetime="2020-03-19T02:08:24+00:00">2020年3月19日</time>		</a>
	</span>
	<span class="divider">/</span>
					
				<span class="comment-link">
					<a href="/prospective/message/#respond">

						0					</a>
				</span>

											</div>
		</footer>
	    </div>
</article>				<div class="modified-date">
					公開日:2008/11/27<br>
										最終更新日:2020/03/19								</div>
		</div>
	</div>
	<div class="menu-bar">
<div class="container">
<div class="menu">
<div id="prospective" class="menu-item">
<p>受験生の方</p>
</div>
<div class="navi-container" style="border-top: 4px solid #4b75b9;">
<div class="close">
<p>×</p>
</div>
<div class="navi-menu">
<div class="item"><img src="/files/2020/03/home.png" alt="トップページのアイコン" width="128" height="128" /><a href="/"></a>トップページ</div>
<div class="item"><img src="/files/2020/03/information.png" alt="知能情報コースのアイコン" width="128" height="128" /><a href="/prospective/course-info/"></a>コース紹介</div>
<div class="item"><img src="/files/2020/03/presen.png" alt="講義のアイコン" width="128" height="128" /><a href="/prospective/class/"></a>特色ある講義</div>
<div class="item"><img src="/files/2020/03/chair.png" alt="コース長挨拶のアイコン" width="128" height="128" /><a href="/prospective/message/"></a>コース長挨拶</div>
<div class="item"><img src="/files/2020/03/graduate.png" alt="大学院生のアイコン" width="128" height="128" /><a href="/prospective/graduate-exam/"></a>大学院入試</div>
<div class="item"><img src="/files/2020/03/staff.png" alt="教職員のアイコン" width="128" height="128" /><a href="/prospective/staff/"></a>教職員</div>
<div class="item"><img src="/files/2020/03/research.png" alt="研究室のアイコン" width="128" height="128" /><a href="/prospective/laboratory/"></a>研究室</div>
<div class="item"><img src="/files/2020/03/sakura.png" alt="卒業のアイコン" width="128" height="128" /><a href="/prospective/career/"></a>卒業生の進路</div>
<div class="item"><img src="/files/2020/03/document.png" alt="ドキュメントのアイコン" width="128" height="128" /><a href="/prospective/admission-policy/"></a>アドミッションポリシー</div>
<div class="item"><img src="/files/2020/03/pencil.png" alt="鉛筆のアイコン" width="128" height="128" /><a href="http://www.u-ryukyu.ac.jp/admissions/" target="_blank" rel="noopener" "=""></a>琉球大学 入試課</div>
</div>
</div>
<div id="enrollment" class="menu-item">
<p>在学生の方</p>
</div>
<div class="navi-container" style="border-top: 4px solid #E06A3B;">
<div class="close">
<p>×</p>
</div>
<div class="navi-menu">
<div class="item"><img src="/files/2020/03/calendar.png" alt="時間割のアイコン" width="128" height="128" /><a href="/students/timetable/2020-latter"></a>時間割</div>
<div class="item"><img src="/files/2020/03/staff.png" alt="教職員のアイコン" width="128" height="128" /><a href="/prospective/staff/"></a>教職員</div>
<div class="item"><img src="/files/2020/03/research.png" alt="研究室のアイコン" width="128" height="128" /><a href="/prospective/laboratory/"></a>研究室</div>
<div class="item"><img src="/files/2020/03/clock.png" alt="時計のアイコン" width="128" height="128" /><a href="/students/office-hour/"></a>オフィスアワー</div>
<div class="item"><img src="/files/2020/03/teacher.png" alt="履修と教育免許のアイコン" width="128" height="128" /><a href="/students/study-teaching-licence/"></a>履修関連/<br />
教育免許</div>
<div class="item"><img src="/files/2020/03/beginner.png" alt="初心者マーク" width="128" height="128" /><a href="/students/install/"></a>インストール大会/<br />
システム利用方法</div>
<div class="item"><img src="/files/2020/03/feather.png" alt="論文のアイコン" width="128" height="128" /><a href="/students/graduation-study/"></a>卒業論文/<br />
修士論文</div>
<div class="item"><img src="/files/2020/03/graduate.png" alt="大学院生のアイコン" width="128" height="128" /><a href="/students/graduate/"></a>大学院</div>
<div class="item"><img src="/files/2020/03/career.png" alt="就活生のアイコン" width="128" height="128" /><a href="/students/get-a-job/"></a>就職/<br />
インターン</div>
<div class="item"><img src="/files/2020/03/setting.png" alt="設定のアイコン" width="128" height="128" /><a href="/students/request/"></a>システム利用申請/<br />
登録情報変更</div>
<div class="item"><img src="/files/2020/03/computer.png" alt="パソコンのアイコン" width="128" height="128" /><a href="/students/rental/"></a>備品の貸出</div>
<div class="item"><img src="/files/2020/03/licence.png" alt="ライセンスのアイコン" width="128" height="128" /><a href="/students/software/"></a>ソフトウェア<br />
ライセンス</div>
<div class="item"><img src="/files/2020/03/check.png" alt="" width="128" height="128" /><a href="https://r.st.ie.u-ryukyu.ac.jp/assessment/" target="_blank"></a>授業評価<br />
アンケート</div>
<div class="item">WebClass</div>
<div class="item">
<p>教務情報システム</p>
</div>
<div class="item"><a href="/students/graduate-students/" rel="noopener"><br />
</a>卒業生の方へ</div>
<div class="item">
<p>News-ie</p>
</div>
<div class="item"><a href="/enpit/" target="_blank" rel="noopener"><br />
</a>enPiT</div>
<div class="item">IGDA</div>
<div class="item">Redmine</div>
<div class="item">その他</div>
</div>
</div>
</div>
</div>
</div>
<div id="wp-browsing-history-title" style="display:none;">非公開: ボトムメニュー</div><div id="wp-browsing-history-url" style="display:none;">/bottom-menu/</div></section>
	
		<footer class="wrapper site-footer" role="contentinfo">
			<div class="container">
				<div class="footer-inner">
					<div class="site-info">
						<div class="contents-wrapper">
<h3 class="content-title">受験生の方へ</h3>
<h3 class="content-title">企業の方へ</h3>
<h3 class="content-title" id="enroll">在学生の方へ</h3>
<div class="content">
<div>
<ul>
 	<li><a href="/prospective/course-info/">知能情報コースの紹介</a></li>
 	<li><a href="/prospective/message-president/">コース長の挨拶</a></li>
 	<li><a href="/prospective/class/">特色ある授業</a></li>
 	<li><a href="/prospective/educational-goal/">学習教育目標</a></li>
 	<li><a href="/prospective/admission-policy/">アドミッションポリシー</a></li>
 	<li><a href="/prospective/career/">卒業後の進路</a></li>
 	<li><a href="/prospective/staff/">教職員紹介</a></li>
 	<li><a href="/prospective/laboratory/">研究室紹介</a></li>
</ul>
</div>
</div>
<!-- 受験生の方へ -->
<div class="content">
<div>
<ul>
 	<li><a href="/prospective/staff/">教職員紹介</a></li>
 	<li><a href="/prospective/laboratory/">研究室紹介</a></li>
 	<li><a href="https://iicc.skr.u-ryukyu.ac.jp/" target="_blank">産官学連携</a></li>
</ul>
</div>
</div>
<!-- 企業の方へ -->

<div class="content" id="enroll-content">
<div>
<ul>
 	<li><a href="/students/study-teaching-licence/#study-guide">修学の手引き</a></li>
 	<li><a href="/students/study-teaching-licence/#course-rule">コース履修規定</a></li>
 	<li><a href="/students/study-teaching-licence/#course-plan">コース履修計画表</a></li>
 	<li><a href="/students/timetable/2020-latter/">時間割</a></li>
 	<li><a href="/students/study-teaching-licence/#teacher-licence">教員免許コース</a></li>
 	<li><a href="/prospective/staff/">教職員紹介</a></li>
 	<li><a href="/students/office-hour/">オフィスアワー</a></li>
 	<li><a href="/prospective/laboratory/">研究室紹介</a></li>
 	<li><a href="/students/graduate/">大学院</a></li>
 	<li><a href="/students/get-a-job/">就職関連</a></li>
</ul>
</div>
<div>
<ul>
 	<li><a href="/students/install/">インストール大会</a></li>
 	<li><a href="/students/install/#howtouse">各システムの利用方法</a></li>
 	<li><a href="/students/install/#request">システム利用申請</a></li>
 	<li><a href="/students/graduation-study/">卒業論文/修士論文</a></li>
 	<li><a href="https://r.st.ie.u-ryukyu.ac.jp/assessment/" target="_blank">授業評価アンケート</a></li>
 	<li><a href="https://webclass.cc.u-ryukyu.ac.jp/webclass/login.php" target="_blank" rel="noopener">WebClass</a></li>
 	<li><a href="https://tiglon.jim.u-ryukyu.ac.jp/Portal/" target="_blank" rel="noopener">教務情報システム</a></li>
 	<li><a href="https://redmine.ie.u-ryukyu.ac.jp/" target="_blank" rel="noopener">Redmine</a></li>
 	<li><a href="/internal/akatsuki/sign_in" target="_blank" rel="noopener">Akatsuki</a></li>
 	<li><a href="/enpit/" target="_blank" rel="noopener">enPiT</a></li>
 	<li><a href="http://igda.cr.ie.u-ryukyu.ac.jp/" target="_blank" rel="noopener">IGDA</a></li>
</ul>
<!-- 在学生の方へ -->
</div>
</div>
</div>
<div class="footer-info">
<div class="link-logo"><a class="ie" href=""><img src="/files/2019/10/logo.png" alt="知能情報コースのロゴ" width="256" height="64">
</a>
<a href="http://www.u-ryukyu.ac.jp"><img src="/files/2020/03/Rmark_white.png" alt="琉球大学のロゴ" width="256" height="64"></a>
</div>
<p>
〒903-0213<br>
沖縄県西原町千原１番地<br>琉球大学工学部工学科知能情報コース<br>
phone: 098-895-8662<br>
fax: 098-895-8727
</p>
<div class="footer-info-link">
<a href="/sitemap/">サイトマップ</a>／<a href="/inquiry/">お問い合わせ</a>／<a href="/wp-admin/">サイト管理</a>
</div>
</div>
<p>
Copyright(C)1997-2020<br>UNIVERSITY OF THE RYUKYUS
</p>					</div><!-- .site-info -->
				</div>
			</div>
		</footer><!-- #colophon -->
		<script type='text/javascript'>
/* <![CDATA[ */
var wpcf7 = {"apiSettings":{"root":"https:\/\/ie.u-ryukyu.ac.jp\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"\u3042\u306a\u305f\u304c\u30ed\u30dc\u30c3\u30c8\u3067\u306f\u306a\u3044\u3053\u3068\u3092\u8a3c\u660e\u3057\u3066\u304f\u3060\u3055\u3044\u3002"}}};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3'></script>
<script type='text/javascript' src='/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
<script type='text/javascript' src='/wp-includes/js/masonry.min.js?ver=3.3.2'></script>
<script type='text/javascript' src='/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var WCShortcodes = {"ajaxurl":"https:\/\/ie.u-ryukyu.ac.jp\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/plugins/wc-shortcodes/public/assets/js/rsvp.js?ver=3.42'></script>
<script type='text/javascript' src='/wp-content/themes/education-booster/assets/vendors/bootstrap/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/wp-content/themes/education-booster/assets/vendors/OwlCarousel2-2.2.1/owl.carousel.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var EDUCATIONBOOSTER = {"is_admin_bar_showing":"","enable_scroll_top_in_mobile":"0","home_slider":{"autoplay":false,"timeout":5000},"is_rtl":"","search_placeholder":"hit enter for search.","search_default_placeholder":"search..."};
/* ]]> */
</script>
<script type='text/javascript' src='/wp-content/themes/education-booster/assets/js/main.js'></script>
</body>
</html>
